/* _____________________General _________________ */
/* encabezado */
#header {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    height: 100px;
}
.is-sticky #header {
    background:white;
}
.nosotros-img {
    height: 510px;
    overflow: hidden;
}
.nosotros-img img {
    max-width: 100%;
}
@media (max-width: 768px) {
    .nosotros-img {
        height: auto;
   }
    .nosotros-img img {
        margin-left: 0;
        padding-bottom: 30px;
   }
}
.title-right h2 {
    color: rgb(36, 97, 41);
    font-weight: 300;
    font-size: 24px;
    text-align: end;
}
.title-left h2 {
    color: rgb(36, 97, 41);
    font-weight: 300;
    font-size: 24px;
    text-align: justify;
}
/*-------------------------------------------------------------- # Pagina de inicio --------------------------------------------------------------*/
/* ================================================== Stats Styling ================================================== */
.stats-row {
    margin-top: 65px;
    margin-left: 200px;
}
.stats-col .circle {
    display: inline-block;
    width: 140px;
    height: 140px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: black;
    border: 6px solid #a7ce3f;
    border-radius: 50%;
    padding: 40px 25px 0 25px;
    position: relative;
}
.stats-col .circle .stats-no {
    color: #fff;
    width: 65px;
    height: 65px;
    line-height: 65px;
    top: -25px;
    right: -15px;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 18px;
    background-color: #6db932 ;
    position: absolute;
    border-radius: 50%;
    font-weight: 500;
}
/* ____________Sección Reseña de Netw_______________________ */
#history {
    margin-top: 130px;
    margin-bottom: 130px;
}
#history .row {
    padding: 25px 1px 25px 1px;
}
#history p {
   /* padding: 15px 20px 15px 20px;
    */
    line-height: 26px;
    margin-right: 10px;
    text-align: justify;
    font-size: 18px;
}
#history h2 {
   /* padding: 1px 20px 1px 20px;
    */
    color: #6db932 ;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
}
/* ____________Sección prueba_______________________ */
/* #calidad {
    text-align: justify;
} */
#calidad .item h2 {
    margin: 0;
    padding: 0;
    font-weight: 300;

}
/* Carousel */
#carousel-example {
    font-family: 'Lato', sans-serif;
}
#calidad .carousel-wrapper {
    background:linear-gradient(180deg, #6db932, #cffd4f);
    color: white;
    font-weight: 300;
    padding: 40px 0;
    text-transform: uppercase;
}
#calidad .carousel-wrapper h2 {
    padding: 0 0 35px;
    text-align: justify;
}
#calidad .carousel-wrapper ol {
    margin: 0 auto;
    position: static;
    width: 100%;
}
#calidad .carousel-wrapper span {
    border: 1px solid transparent;
    cursor: pointer;
    height: auto;
    padding: 10px 15px;
    text-align: center;
    transition: border 0.3s, color 0.3s;
    width: auto;
}
#calidad .active {
    background: none;
    border: 1px solid orange;
    color: orange;
    height: auto;
    padding: 10px 15px;
    width: auto;
}
#calidad .item {
    transition: opacity 1s;
}
#calidad .img-wrapper {
    height: 400px;
    margin: 0 -15px 0 0;
    overflow: hidden;
    position: relative;
}
#calidad img {
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
#calidad .carousel-caption {
    background: white;
    color: #111;
    font-size: 1.1em;
    height: 400px;
    margin: 0 0 0 -15px;
    padding: 30px;
    position: static;
   
    text-shadow: none;
    text-align: justify;
}
#calidad .carousel-caption h2 {
    padding: 0 0 10px;
    text-transform: uppercase;
    font-size: 22px;
    margin-top:-12px;
}

#calidad .carousel-caption h3 {
    padding: 0 0 1px;
    text-transform: uppercase;
    font-size: 16px;
}

@media(max-width: 767px) {
    #calidad #carousel-example .carousel-inner, #calidad #carousel-example .item, #calidad #carousel-example .img-wrapper {
        height: auto;
   }
    #calidad #carousel-example .img-wrapper img {
        transform: none;
        position: static;
        width: 100%;
   }
    #calidad #carousel-example.carousel-caption {
        height: auto;
   }
}
#calidad .carousel-caption  ul {
    list-style: none;
    padding: 0;
    margin-right: 10px;
    margin-top: -15px;
  }
  
  #calidad .carousel-caption  ul li {
    text-align: justify;
  }

  #calidad .carousel-caption i {
         color: rgb(250, 242, 170);
  }

/* ____________Sección Visión_______________________ */
#vision {
    padding: 10px 1px 10px 1px;
    width: 100%;
}
/* ____________Sección Valores agregados_______________________ */
#add {
    padding: 20px 0;
    margin-left: 50px;
    margin-right: 50px;
  }

  #add .textbox {
    padding: 10px;
    margin: 50px 0;
    background-color: white;
    text-align: center;
    transition: all ease .3s;
    margin-top: 150px;
    border-radius:20px;
    -webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
    -ms-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
    -o-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
    box-shadow: 2px 7px 10px 0 rgba(0,0,0,0.19);
  }
  
  #add .textbox__image img {
    width: 20%;
    height: 20%;
  }
  
  #add .textbox__body {
    padding: 10px;
  }
  
  @media (min-width: 992px) {
    #add .textbox__body {
        padding: 25px 30px;
    }
  }
  
  #add .textbox__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #6db932;
  }
  
  #add .textbox__description {
    color: #161515;
    text-align: justify;
  }
  
  #add .textbox__style-02 {
    border: 1px solid #ebebeb;
  }
  
  #add .textbox__style-02 .textbox__description {
    margin-bottom: 15px;
  }
  
  @media (min-width: 768px) {
    #add .textbox-group {
        position: relative;
        -webkit-transform: translateY(-10%);
                transform: translateY(-10%);
    }
  }



/* ____________Sección Calidad_______________________ */
#calidad {
    padding: 1px 1px 1px 1px;
    width: 100%;
}
.sp-slideshow {
    position: relative;
    margin: 10px auto;
    width: 80%;
    max-width: 1000px;
    min-width: 260px;
    height: 460px;
    border: 10px solid #fff;
    border: 10px solid rgba(255,255,255,0.9);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
/* ________________Sección X_______________________ */
#xxx .nosotros2-img {
    height: 510px;
    overflow: hidden;
}
#xxx {
    margin-bottom: 50px;
    margin-top:50px;
}
#xxx .nosotros2-img img {
    max-width: 100%;
    padding:12px 100px 22px 100px;
}
@media (max-width: 768px) {
    #xxx .nosotros2-img {
        height: auto;
   }
    #xxx .nosotros2-img img {
        margin-left: 0;
        padding-bottom: 30px;
   }
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-indicators li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #6db932 ;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 16px;
    height: 16px;
    margin: 0;
    background-color: #6db932;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 30px;
    color: #6db932;
    text-align: center;
    text-shadow: 0 4px 1px rgba(0, 0, 0, .6);
    background-color: rgba(26, 243, 37, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}
/* __________________________________________ */
.sp-content {
   /* background: #7d7f72 url(../img/puente.png) repeat scroll 0 0;
    */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sp-parallax-bg {
    background: url(../img/nosotros/fondo.jpg) repeat-x scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.sp-slideshow input {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 9px;
    height: 9px;
    z-index: 1001;
    cursor: pointer;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
.sp-slideshow input + label {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 6px;
    height: 6px;
    display: block;
    z-index: 1000;
    border: 3px solid #fff;
    border: 3px solid rgba(255,255,255,0.9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    -o-transition: background-color linear 0.1s;
    -ms-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
}
.sp-slideshow input:checked + label {
    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
}
.sp-selector-1, .button-label-1 {
    margin-left: -36px;
}
.sp-selector-2, .button-label-2 {
    margin-left: -18px;
}
.sp-selector-4, .button-label-4 {
    margin-left: 18px;
}
.sp-selector-5, .button-label-5 {
    margin-left: 36px;
}
.sp-arrow {
    position: absolute;
    top: 50%;
    width: 28px;
    height: 38px;
    margin-top: -19px;
    display: none;
    opacity: 0.8;
    cursor: pointer;
    z-index: 1000;
    background: transparent url(../img/nosotros/arrows.png) no-repeat;
    -webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    -o-transition: opacity linear 0.3s;
    -ms-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
}
.sp-arrow:hover{
    opacity: 1;
}
.sp-arrow:active{
    margin-top: -18px;
}
.sp-selector-1:checked ~ .sp-arrow.sp-a2, .sp-selector-2:checked ~ .sp-arrow.sp-a3, .sp-selector-3:checked ~ .sp-arrow.sp-a4, .sp-selector-4:checked ~ .sp-arrow.sp-a5 {
    right: 15px;
    display: block;
    background-position: top right;
}
.sp-selector-2:checked ~ .sp-arrow.sp-a1, .sp-selector-3:checked ~ .sp-arrow.sp-a2, .sp-selector-4:checked ~ .sp-arrow.sp-a3, .sp-selector-5:checked ~ .sp-arrow.sp-a4 {
    left: 15px;
    display: block;
    background-position: top left;
}
.sp-slideshow input:checked ~ .sp-content {
    -webkit-transition: background-position linear 0.6s, background-color linear 0.8s;
    -moz-transition: background-position linear 0.6s, background-color linear 0.8s;
    -o-transition: background-position linear 0.6s, background-color linear 0.8s;
    -ms-transition: background-position linear 0.6s, background-color linear 0.8s;
    transition: background-position linear 0.6s, background-color linear 0.8s;
}
.sp-slideshow input:checked ~ .sp-content .sp-parallax-bg {
    -webkit-transition: background-position linear 0.7s;
    -moz-transition: background-position linear 0.7s;
    -o-transition: background-position linear 0.7s;
    -ms-transition: background-position linear 0.7s;
    transition: background-position linear 0.7s;
}
input.sp-selector-1:checked ~ .sp-content {
    background-position: 0 0;
    background-color: #727b7f;
}
input.sp-selector-2:checked ~ .sp-content {
    background-position: -100px 0;
    background-color: #7f7276;
}
input.sp-selector-3:checked ~ .sp-content {
    background-position: -200px 0;
    background-color: #737f72;
}
input.sp-selector-4:checked ~ .sp-content {
    background-position: -300px 0;
    background-color: #79727f;
}
input.sp-selector-5:checked ~ .sp-content {
    background-position: -400px 0;
    background-color: #7d7f72;
}
input.sp-selector-1:checked ~ .sp-content .sp-parallax-bg {
    background-position: 0 0;
}
input.sp-selector-2:checked ~ .sp-content .sp-parallax-bg {
    background-position: -200px 0;
}
input.sp-selector-3:checked ~ .sp-content .sp-parallax-bg {
    background-position: -400px 0;
}
input.sp-selector-4:checked ~ .sp-content .sp-parallax-bg {
    background-position: -600px 0;
}
input.sp-selector-5:checked ~ .sp-content .sp-parallax-bg {
    background-position: -800px 0;
}
.sp-slider {
    position: relative;
    left: 0;
    width: 500%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: left ease-in 0.8s;
    -moz-transition: left ease-in 0.8s;
    -o-transition: left ease-in 0.8s;
    -ms-transition: left ease-in 0.8s;
    transition: left ease-in 0.8s;
}
.sp-slider > li {
    color: #fff;
    width: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 0 60px;
    float: left;
    text-align: center;
    opacity: 0.4;
    -webkit-transition: opacity ease-in 0.4s 0.8s;
    -moz-transition: opacity ease-in 0.4s 0.8s;
    -o-transition: opacity ease-in 0.4s 0.8s;
    -ms-transition: opacity ease-in 0.4s 0.8s;
    transition: opacity ease-in 0.4s 0.8s;
}
.sp-slider > li img{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 5px 0 1px 0;
    max-height: 140%;
    max-width: 100%;
}
input.sp-selector-1:checked ~ .sp-content .sp-slider {
    left: 0;
}
input.sp-selector-2:checked ~ .sp-content .sp-slider {
    left: -100%;
}
input.sp-selector-3:checked ~ .sp-content .sp-slider {
    left: -200%;
}
input.sp-selector-4:checked ~ .sp-content .sp-slider {
    left: -300%;
}
input.sp-selector-5:checked ~ .sp-content .sp-slider {
    left: -400%;
}
input.sp-selector-1:checked ~ .sp-content .sp-slider > li:first-child, input.sp-selector-2:checked ~ .sp-content .sp-slider > li:nth-child(2), input.sp-selector-3:checked ~ .sp-content .sp-slider > li:nth-child(3), input.sp-selector-4:checked ~ .sp-content .sp-slider > li:nth-child(4), input.sp-selector-5:checked ~ .sp-content .sp-slider > li:nth-child(5){
    opacity: 1;
}
@media screen and (max-width: 840px){
    .sp-slideshow {
        height: 345px;
   }
}
@media screen and (max-width: 680px){
    .sp-slideshow {
        height: 285px;
   }
}
@media screen and (max-width: 560px){
    .sp-slideshow {
        height: 235px;
   }
}
@media screen and (max-width: 320px){
    .sp-slideshow {
        height: 158px;
   }
}
