/* _____________________General _________________ */
.divider {
    display: block;
    width: 100%;
    height: 4px;
    background: #1dc8cd;
    background: linear-gradient(45deg, #98f035, #def58d); /*Barritas de abajo*/
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .content h3 {
    color: #777;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
    text-align: justify;
  }
  
   .content p {
    line-height: 26px;
    margin-right: 20px;
    text-align: justify;
  }
  
  .content p:last-child {
    margin-bottom: 0;
    margin-right: 20px;
  }
  
 .content i {
    font-size: 20px;
    padding-right: 4px;
    color: #8cad2f;
    text-align: justify;
  }
  
  .content ul {
    list-style: none;
    padding: 0;
    text-align: justify;
    margin-right: 20px;
  }
  
 .content ul li {
    padding-bottom: 10px;
    text-align: justify;
  }

  
  .productos-img {
    height: 510px;
    overflow: hidden;
  }
  
.productos-img img {
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
.productos-img {
      height: auto;
    }
.productos-img img {
      margin-left: 0;
      padding-bottom: 30px;
    }
  }

.title-right h2 {
    color: rgb(36, 97, 41);
    font-weight: 300;
    font-size: 24px;
    text-align: end;
  }

.title-left h2 {
    color: rgb(36, 97, 41);
    font-weight: 300;
    font-size: 24px;
    text-align: justify;
  }
  
/* ____________Sección MSD_______________________ */
#msd {
    padding: 30px 0;
  }

    /* ____________Sección OVP_______________________ */
#ovp {
    padding: 100px 1px 100px 1px;
    width: 100%;
  }
  

