/* _____________________General _________________ */
  .servicio-img {
    height: 510px;
    overflow: hidden;
  }
  
.servicio-img img {
    max-width: 100%;
  }
  
  @media (max-width: 768px) {
.servicio-img {
      height: auto;
    }
.servicio-img img {
      margin-left: 0;
      padding-bottom: 30px;
    }
  }

.title-right h2 {
    color: rgb(36, 97, 41);
    font-weight: 300;
    font-size: 24px;
    text-align: end;
  }

.title-left h2 { 
    color: rgb(36, 97, 41);
    font-weight: 300;
    font-size: 24px;
    text-align: justify;
  }

.content i {
    font-size: 20px;
    padding-right: 4px;
    color: #8cad2f;
    text-align: justify;
  }

.content ul {
    list-style: none;
    padding: 0;
    text-align: justify;
    margin-right: 20px;
  }
  
.content ul li {
    padding-bottom: 10px;
    text-align: justify;
  }

/*--------------------------------------------------------------
# Encabezado
--------------------------------------------------------------*/
#header {
  background: rgba(0, 0, 0, 0.5);
}

.is-sticky #header {
  background:white;
  -webkit-box-shadow: -5px 9px 24px -7px rgba(81,125,51,0.61);
  -moz-box-shadow: -5px 9px 24px -7px rgba(81,125,51,0.61);
  box-shadow: -5px 9px 24px -7px rgba(81,125,51,0.61);
}
  
/* ____________Sección Asesoría Técnica_______________________ */
#asesoria {
    padding: 20px 0;
    margin-left: 50px;
    margin-right: 50px;
  }

  #asesoria .textbox {
    padding: 10px;
    margin: 50px 0;
    background-color: white;
    text-align: center;
    transition: all ease .3s;
    margin-top: 150px;
    border-radius:20px;
    -webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
    -ms-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
    -o-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
    box-shadow: 2px 7px 10px 0 rgba(0,0,0,0.19);
  }
  
  #asesoria .textbox__image img {
    width: 20%;
    height: 20%;
  }
  
  #asesoria .textbox__body {
    padding: 10px;
  }
  
  @media (min-width: 992px) {
    #asesoria .textbox__body {
        padding: 25px 30px;
    }
  }
  
  #asesoria .textbox__title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #6db932;
  }
  
  #asesoria .textbox__description {
    color: #161515;
    text-align: justify;
    font-size: 16px;
  }
  
  #asesoria .textbox__style-02 {
    border: 1px solid #ebebeb;
  }
  
  #asesoria .textbox__style-02 .textbox__description {
    margin-bottom: 15px;
  }
  
  @media (min-width: 768px) {
    #asesoria .textbox-group {
        position: relative;
        -webkit-transform: translateY(-10%);
                transform: translateY(-10%);
    }
  }
  .header .container {
    position: relative;
  }


    /* ____________Sección Consultoría Integral_______________________ */
#consultoria {
    padding: 100px 1px 100px 1px;
    width: 100%;
  }
  

/* ____________Sección Consultoría Integral_______________________ */
 #metodologia {
    padding: 100px 1px 100px 1px;
     width: 100%;
}

/* ____________Sección Consultoría Integral_______________________ */
#fabrica {
    padding: 100px 1px 100px 1px;
     width: 100%;
}

/* ____________Sección Consultoría Integral_______________________ */
#especialidades {
    padding: 100px 1px 100px 1px;
     width: 100%;
}

/* ____________Sección Consultoría Integral_______________________ */
#basis {
    padding: 100px 1px 100px 1px;
     width: 100%;
}

#basis .basis-img {
  height: 510px;  
  overflow: hidden;
}

#basis .basis-img img {
  max-width: 100%;
  height: 300px;
}



