.img-somos {
  padding-top: 11%;
  height: 400px;  
  width: 500px;
  overflow: hidden;
}

.img-somos img {
  border-radius: 10px;
  max-width: 50%;
  height: 50%;
  width: 50%;
}

#innovacion {
  padding: 5% 1% 4% 1%;
  width: 100%;
}

#roadmap {
  padding: 5% 1% 10% 1%;
  width: 100%;
}

.content-somos{
  padding-top: 4%;
}

.content-somos h2 {
    color: black;
    font-weight: 300;
    font-size: 32px;
    text-align: justify;
  }
  
 .content-somos h3 {
    color: black;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    font-style: italic;
    text-align: justify;
  }
  
  .content-somos p {
    line-height: 26px;
    font-size: 20px;
    text-align: justify;
  }
  
 .content-somos p:last-child {
    margin-bottom: 0;   
  }
  
 .content-somos i { 
    font-size: 20px;
    padding-right: 4px;
    color: #8cad2f;
    text-align: justify;
  }
  
 .content-somos ul {
    list-style: none;
    padding: 0;
    text-align: justify;
  }
  
 .content-somos ul li {
    padding-bottom: 10px;
    text-align: justify;
    font-weight: 300;
    font-size: 20px;
    color: black;
    margin-bottom: 2%;
  }