/*
  Theme Name: Imperial
  Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-template/
  Author: BootstrapMade
  Author URL: https://bootstrapmade.com
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #6db932;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #6db932;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: linear-gradient(45deg,  #6db932, #cffd4f);
  color: #fff;
  padding: 2px 20px 8px 20px;
  font-size: 16px;
  border-radius: 4px 4px 0 0;
  right: 15px;
  bottom: 10px;
  transition: none;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: linear-gradient(45deg, #6db932, #1dc8cd);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: linear-gradient(45deg, #6db932, #1dc8cd);
  color: #fff;
}

/*--------------------------------------------------------------
# Pagina de inicio
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(http://181.143.47.194/portalnetw/img/inicio.gif) content-box center fixed;
  background-size: cover;
}

#hero .hero-logo {
  margin-bottom: 4%;
  margin-top: 2%;
  width: 100%;
}

#hero .hero-logo img {
  max-width: 30%;
}

/* transparencia de la imagen */
#hero .hero-container {
  background: rgba(0, 0, 0, 0.5);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  margin: 15% 0 5% 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: white;
  margin-bottom: 5%;
  font-size: 32px;
}

#hero .rotating span{
  text-shadow: 0.1em 0.1em 0.05em rgb(27, 27, 27);
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 25%;
  }
  #hero h2 .rotating {
    display: block;
  }
}

#hero .rotating > .animated {
  display: inline-block;
  animation-duration: 3000ms;
  
}

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  text-shadow: 0.1em 0.1em 0.05em rgb(63, 63, 63);
}
/* botón de Empezar */
#hero .btn-get-started {
  background: #7DA736;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services {
  border: 2px solid #fff;
  color: #fff;
}
/* botón de nuestros servicios */
#hero .btn-services:hover {
  background: #7DA736;
  border: 2px solid #7DA736;
}

/*--------------------------------------------------------------
# Pagina de inicio opciones de menú
--------------------------------------------------------------*/
.fullscreen-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 350px;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video video{
  top: 0;
  left: 0;
  width: 100%;
  height:300px;
}

#hero2 {
  display: table;
  width: 100%;
  height: 300px;
  background-size: cover;
}

/* transparencia de la imagen */
#hero2 .hero-container {
  background: rgba(0, 0, 0, 0.5);
  display: table-cell;
  margin: 0;
  padding: 0;
  height: 300px;
  text-align: center;
  vertical-align: middle;
}

#hero2 h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  font-size: 58px;
  margin-bottom: 30px;
}

#hero2 h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 32px;
}


#hero2 h3 {
  margin: 10px 0 10px 0;
  font-weight: 700;
  line-height: 38px;
  color: rgb(219, 217, 217);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

@media (max-width: 768px) {
  #hero2 h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero2 .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

.divider2 {
  display: block;
  width: 66%;
  height: 3px;
  background: linear-gradient(45deg, #98f035, #def58d); /*Barritas de abajo*/
  margin: 0 auto;
  margin-bottom: 1px;
}


.divider3 {
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(45deg, #98f035, #def58d); /*Barritas de abajo*/
  margin: 0 auto;
  margin-bottom: 1px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
/* COLOR DE LA BARRA DE MENÚ */
#header {
  background: white; 
  padding: 20px 0;
  height: 85px;
  width: 100%;
  

}

#header #logo {
  float: left;
  margin-left:-8%;
  margin-top: -10px;
}
@media (max-width: 768px){
  #header #logo {
    margin-left:0;
    margin-top: 0;
    width: 100%;
  }
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}


#header #logo h1 a, #header #logo h1 a:hover {
  color: white;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 65px;
}

@media (max-width: 768px) {
  #header {
    height: 80px;
  }
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

.is-sticky #header {
background:linear-gradient(270deg, white,white, rgb(189, 243, 135), rgb(184, 250, 118));
-webkit-box-shadow: -5px 9px 24px -7px rgba(81,125,51,0.61);
-moz-box-shadow: -5px 9px 24px -7px rgba(81,125,51,0.61);
box-shadow: -5px 9px 24px -7px rgba(81,125,51,0.61);
z-index: 999 !important;
}
  /* 
  #header .menu-active {
    -webkit-box-shadow: 9px 15px 28px -7px rgba(69,102,45,0.37);
    -moz-box-shadow: 9px 15px 28px -7px rgba(69,102,45,0.37);
    box-shadow: 9px 15px 28px -7px rgba(69,102,45,0.37);
  } */

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
} 
::-webkit-scrollbar-button {
  background-color: white ;
}

::-webkit-scrollbar-thumb {
  background-color: #e2f5b0;
} 

::-webkit-scrollbar-corner {
  background-color: #e2f5b0;
}

body {
  scrollbar-face-color: #e2f5b0;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 5px 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 14px;
  outline: none;
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
  color: #6db932;
  font-size: 16px;
  font-weight: bold;
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #6db932 ;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: white;
}

.nav-menu ul li a {
  color: black;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
}

#mobile-nav-toggle i {
  color: #6db932;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: white;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #6db932;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #6db932;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color:  #6db932;
}

#mobile-nav ul .menu-item-active {
  color:  #6db932;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #6db932;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 400;
}

.section-header .section-description {
  text-align: justify;
  padding-bottom: 40px;
  color: #777;
  font-style:unset;
  font-size: 20px;
}

.section-header .section-divider {
  display: block;
  width: 60px;
  height: 3px;
  background: #1dc8cd;
  background: linear-gradient(45deg, #98f035, #def58d); /*Barritas de abajo*/
  margin: 0 auto;
  margin-bottom: 20px;
}


#header .section-divider{
  display: block;
  width: 30%;
  height: 3px;
  background: #1dc8cd;
  background: linear-gradient(45deg, #98f035, #def58d); /*Barritas de abajo*/
  margin: 0 auto;
  margin-bottom: 20px;
}


/* ========================================================NEW================================================ */

/* ===============================
Sección Somos
==================================*/
#somos{
  margin-top:20px;
}
.section-heading span{
font-size: 26px;
color: black;
}

.intro1 {
  position: relative;
}

.intro-img1 {
  max-width: 50%;
}

.intro-img2 {
  max-width: 50%;
}
@media (min-width: 992px) {
  .intro1 .intro-img1 {
    max-width: 50%;
    width: 50%;
    float: right;
    border-radius: 15px;
    box-shadow: 10px 2px 15px 10px rgba(117, 117, 117, 0.2);
  }
  .intro1  .intro-text1 {
    left: 0;
    width: 50%;
    margin-top: 8rem;
    position: absolute;
    border-radius: 15px;
    box-shadow: 10px 2px 15px 10px rgba(117, 117, 117, 0.2);
  }
   .intro1   .intro-text1  .intro-button1 {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
   .intro1  .intro-text1 {
    width: 55%;
  }
}

.intro2 {
  position: relative;
}


@media (min-width: 992px) {
  .intro2 .intro-img2 {
    max-width: 50%;
    width: 50%;
    float: left;
    border-radius: 15px;
    box-shadow: -10px 15px 15px 10px rgba(117, 117, 117, 0.2);
  }
  .intro2  .intro-text2 {
    right: 0;
    width: 50%;
    margin-top: 8rem;
    position: absolute;
    border-radius: 15px;
    box-shadow: -10px 15px 15px 10px rgba(117, 117, 117, 0.2);
  }
   .intro2   .intro-text2  .intro-button2 {
    width: 100%;
    right: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
   .intro2  .intro-text2 {
    width: 55%;
  }
}


/* .btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
} */

.btn-xl {
background: linear-gradient(45deg,  #6db932, #cffd4f);
border: 0;
border-radius: 20px;
padding: 8px 30px;
color: #fff;
text-shadow: 0.1em 0.1em 0.05em rgb(27, 27, 27);
box-shadow: -1px 15px 15px 10px rgba(117, 117, 117, 0.2);
}

.btn-xl:hover {
  box-shadow:-1px 15px 15px 10px rgba(0, 0, 0, .2);
  background: #6db932;
  }

.bg-faded {
  background-color: white;
}

.mb-3{
margin: 35px;
text-align: justify;
font-size: 16px;
}
.mb-4{
  margin: 20px;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

/* ===============================
Sección Nosotros
==================================*/

#nosotros {
  padding: 30px 0;
}

#nosotros .nosotros-img img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}


#nosotros .content h2 {
  color: rgb(73, 73, 73);
  font-weight: 300;
  font-size: 32px;
  text-align: justify;
}

#nosotros .content h3 {
  color: #777;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
  text-align: justify;
}

#nosotros .content p {
  line-height: 26px;
  font-size: 16px;
  text-align: justify;
}

#nosotros .content p:last-child {
  margin-bottom: 0;
 
}

#nosotros .content i {
  font-size: 20px;
  padding-right: 4px;
  color: #8cad2f;
  text-align: justify;
}

#nosotros .content ul {
  list-style: none;
  padding: 0;
  text-align: justify;
 
}

#nosotros .content ul li {
  padding-bottom: 10px;
  text-align: justify;
  font-weight: 300;
  font-size: 16px;
}

.btn-success {
  background: linear-gradient(45deg,  #6db932, #cffd4f);
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.05em rgb(27, 27, 27);
  font-size: 16px;
}


.btn-success:hover {
box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .2);
background: #6db932;
}

#nosotros .carousel{
  margin-left: -10px;
  margin-right: 10px;
}

#nosotros .carousel-inner{
  border-radius: 15px;
}

#nosotros .carousel-control{
  border-radius: 15px;
}

#nosotros .carousel-caption h3{
  text-shadow: 0.1em 0.1em 0.05em rgb(27, 27, 27);
}


/* ===============================
Sección Servicios
==================================*/
  #servicios {
    background: #fff;
    padding: 60px 0 0 0;
  }

  
  #servicios .features-img {
    text-align: center;
    padding-top: 20px;   
  }
  
  @media (min-width: 769px) {
    #servicios .features-img {
      padding-top: 150px;
      margin-top: -200px;
    }
  }
  
  #servicios .features-img img {
    max-width: 100%;
  }
  
  #servicios .box {
    margin-bottom: 15px;
    text-align: center;
  }
  
  #servicios .icon {
    margin-bottom: 25px;
    margin-top: 25px;
  }
  
  #servicios .icon i {
    color: #666666;
    font-size: 40px;
    transition: 0.5s;
  }
  
  #servicios .icon i:before {
    background: linear-gradient(45deg, #6db932 0%, #ccee6d 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #servicios .title {
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 22px;
  }
  
  #servicios .title a {
    color: #111;
  }
  
  #servicios .description {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  
  #servicios .section-description {
    padding-bottom: 10px;
  }
  
  /* #servicios button {
    background: linear-gradient(45deg,  #6db932, #cffd4f);
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    font-size: 16px;
  }
  
  #servicios button:hover {
  box-shadow: 0 8px 25px 2px rgba(0, 0, 0, .2);
  background: linear-gradient(45deg,  #cffd4f,  #6db932);
  }
   */

/* ===============================
Sección Productos
==================================*/
  #productos{
    background: white;
    padding: 40px 0;
  }

#productos  img{
  width: 100%;
  height: 80%;
}
.rounded-circle2{
  padding-top: 30%;
  padding-left: 20%;
}
 
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #c5f0c7;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 9px solid #b0e5f8;
  border-radius: 100%;
  background-color: #d0fdd3;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
  text-align: justify;
  font-size: 16px;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
          
/* ===============================
Sección Testimonios
==================================*/

#testimonio .row h4:last-child {
  margin-bottom: 0;
}


#testimonio .row h4:first-child {
  padding-top: 0;
}


#testimonio .text_4 {
  position:absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 30px;
  font-weight: 700;
  font-size: 26px;
  color: white;
  margin-left: 50px;
  z-index: 1; 
}

#testimonio .row .gallery{
 width: 31vw;
 height: 31vh;
 padding: 20px 115px 296px 30px;
 margin-top: 10px;
 margin-bottom: 10px;
 z-index: -1; 
} 

#testimonio .gallery-item img {
-webkit-transition: all ease-in-out 0.3s;
transition: all ease-in-out 0.3s;
width: 350px;
height: 300px;
border-radius: 10px;
z-index: 2; 
}

#testimonio .gallery-item:hover img {
-webkit-transform: scale(1.2);
transform: scale(1.2);
z-index: 2; 
}


/* ===============================
Sección Clientes
==================================*/

#clients {
  padding: 10px 0;
  background: #fff;
}

#clients img {
  max-width: 100%;
  opacity: 0.3;
  transition: 0.5s;
  padding: 10px 1px;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 50px;
}

#clients img:hover {
  opacity: 1;
}


@media screen and (max-width: 800px) {
  #clients {
    visibility: hidden;
    clear: both;
    float: left;
    padding: 1px 1px 1px 1px;
    width: 100%;
    display: none;
  }
}

/* ===============================
Sección Noticias
==================================*/

#news .textbox {
border-color: #447c1a;
box-shadow: #447c1a;
color: #000;
text-align: right;
width: 100%;
height: 100%;
margin-top: 90px;
margin-bottom: 130px;
}

#news .team-box{
  margin-top:30px;
  margin-bottom: 100px;
  position: relative;
  padding-top: 1em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  float: right;
  width: 303px;
  -webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
  -ms-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
  -o-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
  box-shadow: 10px 7px 10px 5px rgba(0,0,0,0.19);
  border-radius:20px;
  background:linear-gradient(160deg,  rgb(189, 243, 135), rgb(196, 248, 143),white);
} 
#news .team-box:hover{
  box-shadow: 10px 15px 25px -1px rgba(0,0,0,0.19);
}
  /* @media screen and (max-width: $screen-md) {
    margin-bottom: 110px;
  } */


/* ===============================
Sección Contáctanos
==================================*/
#contact {
  margin:5%;
}

.contact-about {
  text-align: center;
}

#contact .section-header .section-title h3 {
  font-size: 32px;
  color: #111;
  text-align: center;
  font-weight: 400;
}

#contact .info {
  color: #333333;
}

#contact .info h3 {
  font-size: 22px;
  margin-bottom: 5%;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
  color: rgb(70, 67, 67);
}

#contact .info img {
  float: left;
}

#contact .info i {
  font-size: 32px;
  color:#6db932 ;
  float: left;
  line-height: 1;
  margin-left: 30px;
}

#contact .info p {
  padding: 0 0 0 42px;
  line-height: 25px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #7c7c7a;
  margin-left: 30px;
  text-align: justify;
}

#contact .contact-about i {
  background: linear-gradient(45deg,  #a7ce3f, #1dc8cd 100%); 
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
   width: 90px;
  height: 90px;
}

#contact .form #sendmessage {
  color: #6db932;
  border: 1px solid #6db932;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius:5px;
  box-shadow:none;
  font-size: 14px;
  border-color: #447c1a;
}

#contact .form input[type="submit"] {
  background: linear-gradient(45deg, #6db932, #cffd4f);
  border: 0;
  border-radius: 2px;
  padding: 8px 30px;
  color: white;
  font-size: 16px;
}

#contact .form input[type="submit"]:hover {
  cursor: pointer;
  background: linear-gradient(45deg, #cffd4f, #6db932);
}

#contact .send-email{
  text-align: center;
}

#contact {
  font: normal 16px Georgia;
}

#contact .forma input:not([type='checkbox']), #contact .forma select {
  width: 250px;
}

#contact .forma  select, #contact  .forma  input {
  padding: 5px;
  margin-top: 10px;
  font-family: inherit;
}

#contact .forma  input[type='submit'] {
  width: 300px;
}

/*Los mensajes de error se mostrarán en rojo*/
#contact .forma  span {
  color: red;
}

	/*El input email que esté inválido se muestra en rojo*/
  #contact .forma input[name='email'].ng-dirty.ng-invalid {
	  color: red;
	}
 
	/*El input email que esté válido se muestra en verde*/
  #contact .forma  input[name='email'].ng-dirty.ng-valid {
	  color: green;
	}


#contact .textbox {
  border-color: #447c1a;
  box-shadow: #447c1a;
  color: #000;
  text-align: right;
  width: 100%;
  height: 100%;
  }
  
  #contact .team-box{
    padding: 3%;
    width: 100%;
    -webkit-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
    -ms-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
    -o-box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.19);
    box-shadow: 10px 7px 10px 5px rgba(0,0,0,0.19);
    border-radius:10px;
    background:#6db932;
  } 
 
.flag {
  margin-left: 30px;
  display: inline-block;
  width: 25px;
  height: 15px;
}


/* ===============================
Sección Footer
==================================*/
#footer {
  /* background: rgba(0, 0, 0, 0.8); */
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: white;
  font-size: 14px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(http://181.143.47.194/portalnetw/img/puente.png) fixed center center;
  background-size: cover;
}

#footer .credits {
  font-size: 14px;
  color: #888;
  text-align: center;
}

#footer .credits a {
  font-size: 15px;
  color: #6db932;
}

#footer .credits a:hover {
  font-size: 14px;
  color: #a7ce3f;
}

#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: #6db932;
  font-size: 15px;
}

#footer .social-links {
  padding-bottom: 20px;
}

#footer .social-links a {
  font-size: 25px;
  display: inline-block;
  background: #fff;
  color: #6db932;
  line-height: 1;
  padding: 11px 0;
  margin-right: 10px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  border: 1px solid #a7ce3f;
}

#footer .social-links a:hover {
  background: linear-gradient(45deg,  #a7ce3f, #1dc8cd 100%); 
  color: #fff;
}

/* ===============================
Sección Trabaja con nosotros
==================================*/

#subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(http://181.143.47.194/portalnetw/img/puente.png) fixed center center;
  background-size: cover;
  padding: 8% 0;
}

#subscribe .subscribe-title {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  padding-top: 2%;
}

#subscribe .subscribe-text {
  color: #fff;
  padding-top: 2%;
  font-size: 20px;
}

#subscribe .subscribe-btn-container {
  text-align: center;
  padding-top: 2%;
}

#subscribe .subscribe-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#subscribe .subscribe-btn:hover {
  background: #7DA736;
  border: 2px solid #7DA736;
}

#subscribe .btn-primary{
  background: #6db932;
  border: 2px solid #6db932;
  color: #fff;
}

#subscribe .btn-primary:hover{
  background: #53a713;
}

#subscribe .btn-default{
  border: 2px solid #6db932;
  color: #53a713;
}

#subscribe .btn-default:hover{
  background: #53a713;
  color: #fff;
}


#subscribe .stats-col{
  top: -1%;
  right: -8%;
  position: absolute;
  z-index: 999999;
}

#subscribe .form-group{
  padding: 1px 10px 1px 10px;
}
#subscribe .modal-content,  #subscribe .modal-header{
  border-radius: 20px;
}

#subscribe .modal-content h4 {
  padding: 1px 1px 1px 1px;
  margin: 0;
  font-size: 16px;
  color: #447c1a;
}

#subscribe .modal-content h3 {
  padding: 15px 0 15px 50px;
  margin: 0;
  font-size: 24px;
  color: #447c1a;
  text-align: center;
}

