#manufactura .da-thumbs {
	list-style: none;
	position: relative;
	margin: 0px 10px;
	padding: 10px 0 0;
}
#manufactura .da-thumbs li {
	float: left;
	margin: 0 10px 16px;
	background: #fff;
	padding: 8px;
	background-color: #f8f7f7;
	position: relative;
}
#manufactura .da-thumbs li a,
#manufactura  .da-thumbs li a img {
	display: block;
	position: relative;
}
#manufactura .da-thumbs li a {
	overflow: hidden;
}
#manufactura .da-thumbs li a div {
	position: absolute;
	background: #333;
	background: rgba(0,0,0,0.73);
	width: 100%;
	height: 100%;
}
#manufactura .da-thumbs li a div span {
	display: block;
	padding: 10px 0 9px;
	font-size: 16px;
	margin: 34px 14px 20px 14px;
	font-weight: normal;
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.55);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -15px 0 rgba(255,255,255,0.73);
}

#manufactura  .grid_9{
    display: inline;
    /* float: left; */
    margin-left: 10px;
    margin-right: 10px;
  }

  #manufactura  .container_12 .grid_9 {
    width: 400px;
  }

  #manufactura  .ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}